// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$text-gnb-menu-01-name: 'text_gnbMenu_01';
$text-gnb-menu-01-x: 404px;
$text-gnb-menu-01-y: 298px;
$text-gnb-menu-01-offset-x: -404px;
$text-gnb-menu-01-offset-y: -298px;
$text-gnb-menu-01-width: 67px;
$text-gnb-menu-01-height: 19px;
$text-gnb-menu-01-total-width: 1126px;
$text-gnb-menu-01-total-height: 511px;
$text-gnb-menu-01-image: '../images/sprites/sprite_all.png';
$text-gnb-menu-01: (404px, 298px, -404px, -298px, 67px, 19px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_gnbMenu_01', );
$text-gnb-menu-02-name: 'text_gnbMenu_02';
$text-gnb-menu-02-x: 724px;
$text-gnb-menu-02-y: 268px;
$text-gnb-menu-02-offset-x: -724px;
$text-gnb-menu-02-offset-y: -268px;
$text-gnb-menu-02-width: 85px;
$text-gnb-menu-02-height: 19px;
$text-gnb-menu-02-total-width: 1126px;
$text-gnb-menu-02-total-height: 511px;
$text-gnb-menu-02-image: '../images/sprites/sprite_all.png';
$text-gnb-menu-02: (724px, 268px, -724px, -268px, 85px, 19px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_gnbMenu_02', );
$text-gnb-menu-03-name: 'text_gnbMenu_03';
$text-gnb-menu-03-x: 475px;
$text-gnb-menu-03-y: 298px;
$text-gnb-menu-03-offset-x: -475px;
$text-gnb-menu-03-offset-y: -298px;
$text-gnb-menu-03-width: 67px;
$text-gnb-menu-03-height: 19px;
$text-gnb-menu-03-total-width: 1126px;
$text-gnb-menu-03-total-height: 511px;
$text-gnb-menu-03-image: '../images/sprites/sprite_all.png';
$text-gnb-menu-03: (475px, 298px, -475px, -298px, 67px, 19px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_gnbMenu_03', );
$text-gnb-menu-04-name: 'text_gnbMenu_04';
$text-gnb-menu-04-x: 813px;
$text-gnb-menu-04-y: 268px;
$text-gnb-menu-04-offset-x: -813px;
$text-gnb-menu-04-offset-y: -268px;
$text-gnb-menu-04-width: 84px;
$text-gnb-menu-04-height: 19px;
$text-gnb-menu-04-total-width: 1126px;
$text-gnb-menu-04-total-height: 511px;
$text-gnb-menu-04-image: '../images/sprites/sprite_all.png';
$text-gnb-menu-04: (813px, 268px, -813px, -268px, 84px, 19px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_gnbMenu_04', );
$icon-file-name: 'icon_file';
$icon-file-x: 1082px;
$icon-file-y: 85px;
$icon-file-offset-x: -1082px;
$icon-file-offset-y: -85px;
$icon-file-width: 23px;
$icon-file-height: 23px;
$icon-file-total-width: 1126px;
$icon-file-total-height: 511px;
$icon-file-image: '../images/sprites/sprite_all.png';
$icon-file: (1082px, 85px, -1082px, -85px, 23px, 23px, 1126px, 511px, '../images/sprites/sprite_all.png', 'icon_file', );
$icon-first-page-name: 'icon_firstPage';
$icon-first-page-x: 1109px;
$icon-first-page-y: 85px;
$icon-first-page-offset-x: -1109px;
$icon-first-page-offset-y: -85px;
$icon-first-page-width: 12px;
$icon-first-page-height: 11px;
$icon-first-page-total-width: 1126px;
$icon-first-page-total-height: 511px;
$icon-first-page-image: '../images/sprites/sprite_all.png';
$icon-first-page: (1109px, 85px, -1109px, -85px, 12px, 11px, 1126px, 511px, '../images/sprites/sprite_all.png', 'icon_firstPage', );
$icon-last-page-name: 'icon_lastPage';
$icon-last-page-x: 579px;
$icon-last-page-y: 125px;
$icon-last-page-offset-x: -579px;
$icon-last-page-offset-y: -125px;
$icon-last-page-width: 12px;
$icon-last-page-height: 11px;
$icon-last-page-total-width: 1126px;
$icon-last-page-total-height: 511px;
$icon-last-page-image: '../images/sprites/sprite_all.png';
$icon-last-page: (579px, 125px, -579px, -125px, 12px, 11px, 1126px, 511px, '../images/sprites/sprite_all.png', 'icon_lastPage', );
$icon-next-page-name: 'icon_nextPage';
$icon-next-page-x: 595px;
$icon-next-page-y: 125px;
$icon-next-page-offset-x: -595px;
$icon-next-page-offset-y: -125px;
$icon-next-page-width: 9px;
$icon-next-page-height: 11px;
$icon-next-page-total-width: 1126px;
$icon-next-page-total-height: 511px;
$icon-next-page-image: '../images/sprites/sprite_all.png';
$icon-next-page: (595px, 125px, -595px, -125px, 9px, 11px, 1126px, 511px, '../images/sprites/sprite_all.png', 'icon_nextPage', );
$icon-prev-page-name: 'icon_prevPage';
$icon-prev-page-x: 608px;
$icon-prev-page-y: 125px;
$icon-prev-page-offset-x: -608px;
$icon-prev-page-offset-y: -125px;
$icon-prev-page-width: 9px;
$icon-prev-page-height: 11px;
$icon-prev-page-total-width: 1126px;
$icon-prev-page-total-height: 511px;
$icon-prev-page-image: '../images/sprites/sprite_all.png';
$icon-prev-page: (608px, 125px, -608px, -125px, 9px, 11px, 1126px, 511px, '../images/sprites/sprite_all.png', 'icon_prevPage', );
$icon-search-name: 'icon_search';
$icon-search-x: 1106px;
$icon-search-y: 329px;
$icon-search-offset-x: -1106px;
$icon-search-offset-y: -329px;
$icon-search-width: 20px;
$icon-search-height: 20px;
$icon-search-total-width: 1126px;
$icon-search-total-height: 511px;
$icon-search-image: '../images/sprites/sprite_all.png';
$icon-search: (1106px, 329px, -1106px, -329px, 20px, 20px, 1126px, 511px, '../images/sprites/sprite_all.png', 'icon_search', );
$icon-select-arrow-name: 'icon_select_arrow';
$icon-select-arrow-x: 556px;
$icon-select-arrow-y: 125px;
$icon-select-arrow-offset-x: -556px;
$icon-select-arrow-offset-y: -125px;
$icon-select-arrow-width: 19px;
$icon-select-arrow-height: 12px;
$icon-select-arrow-total-width: 1126px;
$icon-select-arrow-total-height: 511px;
$icon-select-arrow-image: '../images/sprites/sprite_all.png';
$icon-select-arrow: (556px, 125px, -556px, -125px, 19px, 12px, 1126px, 511px, '../images/sprites/sprite_all.png', 'icon_select_arrow', );
$text-comp01-name: 'text_comp01';
$text-comp01-x: 502px;
$text-comp01-y: 143px;
$text-comp01-offset-x: -502px;
$text-comp01-offset-y: -143px;
$text-comp01-width: 466px;
$text-comp01-height: 58px;
$text-comp01-total-width: 1126px;
$text-comp01-total-height: 511px;
$text-comp01-image: '../images/sprites/sprite_all.png';
$text-comp01: (502px, 143px, -502px, -143px, 466px, 58px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_comp01', );
$text-stru-con01-name: 'text_struCon01';
$text-stru-con01-x: 0px;
$text-stru-con01-y: 206px;
$text-stru-con01-offset-x: 0px;
$text-stru-con01-offset-y: -206px;
$text-stru-con01-width: 457px;
$text-stru-con01-height: 58px;
$text-stru-con01-total-width: 1126px;
$text-stru-con01-total-height: 511px;
$text-stru-con01-image: '../images/sprites/sprite_all.png';
$text-stru-con01: (0px, 206px, 0px, -206px, 457px, 58px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_struCon01', );
$text-stru-con02-name: 'text_struCon02';
$text-stru-con02-x: 461px;
$text-stru-con02-y: 206px;
$text-stru-con02-offset-x: -461px;
$text-stru-con02-offset-y: -206px;
$text-stru-con02-width: 414px;
$text-stru-con02-height: 57px;
$text-stru-con02-total-width: 1126px;
$text-stru-con02-total-height: 511px;
$text-stru-con02-image: '../images/sprites/sprite_all.png';
$text-stru-con02: (461px, 206px, -461px, -206px, 414px, 57px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_struCon02', );
$text-stru-con03-name: 'text_struCon03';
$text-stru-con03-x: 556px;
$text-stru-con03-y: 63px;
$text-stru-con03-offset-x: -556px;
$text-stru-con03-offset-y: -63px;
$text-stru-con03-width: 522px;
$text-stru-con03-height: 58px;
$text-stru-con03-total-width: 1126px;
$text-stru-con03-total-height: 511px;
$text-stru-con03-image: '../images/sprites/sprite_all.png';
$text-stru-con03: (556px, 63px, -556px, -63px, 522px, 58px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_struCon03', );
$text-stru-con04-name: 'text_struCon04';
$text-stru-con04-x: 0px;
$text-stru-con04-y: 268px;
$text-stru-con04-offset-x: 0px;
$text-stru-con04-offset-y: -268px;
$text-stru-con04-width: 400px;
$text-stru-con04-height: 57px;
$text-stru-con04-total-width: 1126px;
$text-stru-con04-total-height: 511px;
$text-stru-con04-image: '../images/sprites/sprite_all.png';
$text-stru-con04: (0px, 268px, 0px, -268px, 400px, 57px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_struCon04', );
$text-stru-con05-name: 'text_struCon05';
$text-stru-con05-x: 0px;
$text-stru-con05-y: 329px;
$text-stru-con05-offset-x: 0px;
$text-stru-con05-offset-y: -329px;
$text-stru-con05-width: 347px;
$text-stru-con05-height: 60px;
$text-stru-con05-total-width: 1126px;
$text-stru-con05-total-height: 511px;
$text-stru-con05-image: '../images/sprites/sprite_all.png';
$text-stru-con05: (0px, 329px, 0px, -329px, 347px, 60px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_struCon05', );
$text-stru-con06-name: 'text_struCon06';
$text-stru-con06-x: 0px;
$text-stru-con06-y: 143px;
$text-stru-con06-offset-x: 0px;
$text-stru-con06-offset-y: -143px;
$text-stru-con06-width: 498px;
$text-stru-con06-height: 59px;
$text-stru-con06-total-width: 1126px;
$text-stru-con06-total-height: 511px;
$text-stru-con06-image: '../images/sprites/sprite_all.png';
$text-stru-con06: (0px, 143px, 0px, -143px, 498px, 59px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_struCon06', );
$text-stru-con07-name: 'text_struCon07';
$text-stru-con07-x: 556px;
$text-stru-con07-y: 0px;
$text-stru-con07-offset-x: -556px;
$text-stru-con07-offset-y: 0px;
$text-stru-con07-width: 570px;
$text-stru-con07-height: 59px;
$text-stru-con07-total-width: 1126px;
$text-stru-con07-total-height: 511px;
$text-stru-con07-image: '../images/sprites/sprite_all.png';
$text-stru-con07: (556px, 0px, -556px, 0px, 570px, 59px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_struCon07', );
$text-stru-allen-name: 'text_stru_allen';
$text-stru-allen-x: 0px;
$text-stru-allen-y: 393px;
$text-stru-allen-offset-x: 0px;
$text-stru-allen-offset-y: -393px;
$text-stru-allen-width: 207px;
$text-stru-allen-height: 35px;
$text-stru-allen-total-width: 1126px;
$text-stru-allen-total-height: 511px;
$text-stru-allen-image: '../images/sprites/sprite_all.png';
$text-stru-allen: (0px, 393px, 0px, -393px, 207px, 35px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_stru_allen', );
$text-stru-cjs-name: 'text_stru_cjs';
$text-stru-cjs-x: 351px;
$text-stru-cjs-y: 329px;
$text-stru-cjs-offset-x: -351px;
$text-stru-cjs-offset-y: -329px;
$text-stru-cjs-width: 203px;
$text-stru-cjs-height: 38px;
$text-stru-cjs-total-width: 1126px;
$text-stru-cjs-total-height: 511px;
$text-stru-cjs-image: '../images/sprites/sprite_all.png';
$text-stru-cjs: (351px, 329px, -351px, -329px, 203px, 38px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_stru_cjs', );
$text-stru-harim-name: 'text_stru_harim';
$text-stru-harim-x: 558px;
$text-stru-harim-y: 329px;
$text-stru-harim-offset-x: -558px;
$text-stru-harim-offset-y: -329px;
$text-stru-harim-width: 201px;
$text-stru-harim-height: 38px;
$text-stru-harim-total-width: 1126px;
$text-stru-harim-total-height: 511px;
$text-stru-harim-image: '../images/sprites/sprite_all.png';
$text-stru-harim: (558px, 329px, -558px, -329px, 201px, 38px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_stru_harim', );
$text-stru-hol-name: 'text_stru_hol';
$text-stru-hol-x: 763px;
$text-stru-hol-y: 329px;
$text-stru-hol-offset-x: -763px;
$text-stru-hol-offset-y: -329px;
$text-stru-hol-width: 197px;
$text-stru-hol-height: 38px;
$text-stru-hol-total-width: 1126px;
$text-stru-hol-total-height: 511px;
$text-stru-hol-image: '../images/sprites/sprite_all.png';
$text-stru-hol: (763px, 329px, -763px, -329px, 197px, 38px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_stru_hol', );
$text-stru-pam-name: 'text_stru_pam';
$text-stru-pam-x: 879px;
$text-stru-pam-y: 206px;
$text-stru-pam-offset-x: -879px;
$text-stru-pam-offset-y: -206px;
$text-stru-pam-width: 230px;
$text-stru-pam-height: 37px;
$text-stru-pam-total-width: 1126px;
$text-stru-pam-total-height: 511px;
$text-stru-pam-image: '../images/sprites/sprite_all.png';
$text-stru-pam: (879px, 206px, -879px, -206px, 230px, 37px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_stru_pam', );
$text-stru-pan-name: 'text_stru_pan';
$text-stru-pan-x: 0px;
$text-stru-pan-y: 432px;
$text-stru-pan-offset-x: 0px;
$text-stru-pan-offset-y: -432px;
$text-stru-pan-width: 189px;
$text-stru-pan-height: 37px;
$text-stru-pan-total-width: 1126px;
$text-stru-pan-total-height: 511px;
$text-stru-pan-image: '../images/sprites/sprite_all.png';
$text-stru-pan: (0px, 432px, 0px, -432px, 189px, 37px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_stru_pan', );
$text-stru-sun-name: 'text_stru_sun';
$text-stru-sun-x: 0px;
$text-stru-sun-y: 473px;
$text-stru-sun-offset-x: 0px;
$text-stru-sun-offset-y: -473px;
$text-stru-sun-width: 175px;
$text-stru-sun-height: 38px;
$text-stru-sun-total-width: 1126px;
$text-stru-sun-total-height: 511px;
$text-stru-sun-image: '../images/sprites/sprite_all.png';
$text-stru-sun: (0px, 473px, 0px, -473px, 175px, 38px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_stru_sun', );
$text-sub-title-holdings-name: 'text_subTitle_holdings';
$text-sub-title-holdings-x: 987px;
$text-sub-title-holdings-y: 268px;
$text-sub-title-holdings-offset-x: -987px;
$text-sub-title-holdings-offset-y: -268px;
$text-sub-title-holdings-width: 81px;
$text-sub-title-holdings-height: 19px;
$text-sub-title-holdings-total-width: 1126px;
$text-sub-title-holdings-total-height: 511px;
$text-sub-title-holdings-image: '../images/sprites/sprite_all.png';
$text-sub-title-holdings: (987px, 268px, -987px, -268px, 81px, 19px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_subTitle_holdings', );
$text-sub-title-info01-name: 'text_subTitle_info01';
$text-sub-title-info01-x: 879px;
$text-sub-title-info01-y: 247px;
$text-sub-title-info01-offset-x: -879px;
$text-sub-title-info01-offset-y: -247px;
$text-sub-title-info01-width: 112px;
$text-sub-title-info01-height: 16px;
$text-sub-title-info01-total-width: 1126px;
$text-sub-title-info01-total-height: 511px;
$text-sub-title-info01-image: '../images/sprites/sprite_all.png';
$text-sub-title-info01: (879px, 247px, -879px, -247px, 112px, 16px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_subTitle_info01', );
$text-sub-title-info02-name: 'text_subTitle_info02';
$text-sub-title-info02-x: 972px;
$text-sub-title-info02-y: 177px;
$text-sub-title-info02-offset-x: -972px;
$text-sub-title-info02-offset-y: -177px;
$text-sub-title-info02-width: 112px;
$text-sub-title-info02-height: 16px;
$text-sub-title-info02-total-width: 1126px;
$text-sub-title-info02-total-height: 511px;
$text-sub-title-info02-image: '../images/sprites/sprite_all.png';
$text-sub-title-info02: (972px, 177px, -972px, -177px, 112px, 16px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_subTitle_info02', );
$text-sub-title-info03-name: 'text_subTitle_info03';
$text-sub-title-info03-x: 995px;
$text-sub-title-info03-y: 247px;
$text-sub-title-info03-offset-x: -995px;
$text-sub-title-info03-offset-y: -247px;
$text-sub-title-info03-width: 75px;
$text-sub-title-info03-height: 16px;
$text-sub-title-info03-total-width: 1126px;
$text-sub-title-info03-total-height: 511px;
$text-sub-title-info03-image: '../images/sprites/sprite_all.png';
$text-sub-title-info03: (995px, 247px, -995px, -247px, 75px, 16px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_subTitle_info03', );
$text-sub-title-sum-name: 'text_subTitle_sum';
$text-sub-title-sum-x: 1082px;
$text-sub-title-sum-y: 63px;
$text-sub-title-sum-offset-x: -1082px;
$text-sub-title-sum-offset-y: -63px;
$text-sub-title-sum-width: 34px;
$text-sub-title-sum-height: 18px;
$text-sub-title-sum-total-width: 1126px;
$text-sub-title-sum-total-height: 511px;
$text-sub-title-sum-image: '../images/sprites/sprite_all.png';
$text-sub-title-sum: (1082px, 63px, -1082px, -63px, 34px, 18px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_subTitle_sum', );
$text-sub-title-video-name: 'text_subTitle_video';
$text-sub-title-video-x: 901px;
$text-sub-title-video-y: 268px;
$text-sub-title-video-offset-x: -901px;
$text-sub-title-video-offset-y: -268px;
$text-sub-title-video-width: 82px;
$text-sub-title-video-height: 19px;
$text-sub-title-video-total-width: 1126px;
$text-sub-title-video-total-height: 511px;
$text-sub-title-video-image: '../images/sprites/sprite_all.png';
$text-sub-title-video: (901px, 268px, -901px, -268px, 82px, 19px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_subTitle_video', );
$text-sub-ceo-name: 'text_sub_ceo';
$text-sub-ceo-x: 0px;
$text-sub-ceo-y: 0px;
$text-sub-ceo-offset-x: 0px;
$text-sub-ceo-offset-y: 0px;
$text-sub-ceo-width: 552px;
$text-sub-ceo-height: 67px;
$text-sub-ceo-total-width: 1126px;
$text-sub-ceo-total-height: 511px;
$text-sub-ceo-image: '../images/sprites/sprite_all.png';
$text-sub-ceo: (0px, 0px, 0px, 0px, 552px, 67px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_sub_ceo', );
$text-sub-com-name: 'text_sub_com';
$text-sub-com-x: 0px;
$text-sub-com-y: 71px;
$text-sub-com-offset-x: 0px;
$text-sub-com-offset-y: -71px;
$text-sub-com-width: 530px;
$text-sub-com-height: 68px;
$text-sub-com-total-width: 1126px;
$text-sub-com-total-height: 511px;
$text-sub-com-image: '../images/sprites/sprite_all.png';
$text-sub-com: (0px, 71px, 0px, -71px, 530px, 68px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_sub_com', );
$text-title-allen-name: 'text_title_allen';
$text-title-allen-x: 404px;
$text-title-allen-y: 268px;
$text-title-allen-offset-x: -404px;
$text-title-allen-offset-y: -268px;
$text-title-allen-width: 316px;
$text-title-allen-height: 26px;
$text-title-allen-total-width: 1126px;
$text-title-allen-total-height: 511px;
$text-title-allen-image: '../images/sprites/sprite_all.png';
$text-title-allen: (404px, 268px, -404px, -268px, 316px, 26px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_allen', );
$text-title-ceo-name: 'text_title_ceo';
$text-title-ceo-x: 972px;
$text-title-ceo-y: 143px;
$text-title-ceo-offset-x: -972px;
$text-title-ceo-offset-y: -143px;
$text-title-ceo-width: 144px;
$text-title-ceo-height: 30px;
$text-title-ceo-total-width: 1126px;
$text-title-ceo-total-height: 511px;
$text-title-ceo-image: '../images/sprites/sprite_all.png';
$text-title-ceo: (972px, 143px, -972px, -143px, 144px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_ceo', );
$text-title-cjs-name: 'text_title_cjs';
$text-title-cjs-x: 211px;
$text-title-cjs-y: 393px;
$text-title-cjs-offset-x: -211px;
$text-title-cjs-offset-y: -393px;
$text-title-cjs-width: 213px;
$text-title-cjs-height: 31px;
$text-title-cjs-total-width: 1126px;
$text-title-cjs-total-height: 511px;
$text-title-cjs-image: '../images/sprites/sprite_all.png';
$text-title-cjs: (211px, 393px, -211px, -393px, 213px, 31px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_cjs', );
$text-title-com-name: 'text_title_com';
$text-title-com-x: 327px;
$text-title-com-y: 432px;
$text-title-com-offset-x: -327px;
$text-title-com-offset-y: -432px;
$text-title-com-width: 113px;
$text-title-com-height: 30px;
$text-title-com-total-width: 1126px;
$text-title-com-total-height: 511px;
$text-title-com-image: '../images/sprites/sprite_all.png';
$text-title-com: (327px, 432px, -327px, -432px, 113px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_com', );
$text-title-comp-name: 'text_title_comp';
$text-title-comp-x: 560px;
$text-title-comp-y: 432px;
$text-title-comp-offset-x: -560px;
$text-title-comp-offset-y: -432px;
$text-title-comp-width: 111px;
$text-title-comp-height: 30px;
$text-title-comp-total-width: 1126px;
$text-title-comp-total-height: 511px;
$text-title-comp-image: '../images/sprites/sprite_all.png';
$text-title-comp: (560px, 432px, -560px, -432px, 111px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_comp', );
$text-title-harim-name: 'text_title_harim';
$text-title-harim-x: 1004px;
$text-title-harim-y: 432px;
$text-title-harim-offset-x: -1004px;
$text-title-harim-offset-y: -432px;
$text-title-harim-width: 100px;
$text-title-harim-height: 30px;
$text-title-harim-total-width: 1126px;
$text-title-harim-total-height: 511px;
$text-title-harim-image: '../images/sprites/sprite_all.png';
$text-title-harim: (1004px, 432px, -1004px, -432px, 100px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_harim', );
$text-title-history-name: 'text_title_history';
$text-title-history-x: 179px;
$text-title-history-y: 473px;
$text-title-history-offset-x: -179px;
$text-title-history-offset-y: -473px;
$text-title-history-width: 53px;
$text-title-history-height: 31px;
$text-title-history-total-width: 1126px;
$text-title-history-total-height: 511px;
$text-title-history-image: '../images/sprites/sprite_all.png';
$text-title-history: (179px, 473px, -179px, -473px, 53px, 31px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_history', );
$text-title-hol-name: 'text_title_hol';
$text-title-hol-x: 428px;
$text-title-hol-y: 393px;
$text-title-hol-offset-x: -428px;
$text-title-hol-offset-y: -393px;
$text-title-hol-width: 187px;
$text-title-hol-height: 31px;
$text-title-hol-total-width: 1126px;
$text-title-hol-total-height: 511px;
$text-title-hol-image: '../images/sprites/sprite_all.png';
$text-title-hol: (428px, 393px, -428px, -393px, 187px, 31px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_hol', );
$text-title-info-name: 'text_title_info';
$text-title-info-x: 444px;
$text-title-info-y: 432px;
$text-title-info-offset-x: -444px;
$text-title-info-offset-y: -432px;
$text-title-info-width: 112px;
$text-title-info-height: 30px;
$text-title-info-total-width: 1126px;
$text-title-info-total-height: 511px;
$text-title-info-image: '../images/sprites/sprite_all.png';
$text-title-info: (444px, 432px, -444px, -432px, 112px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_info', );
$text-title-ir-name: 'text_title_ir';
$text-title-ir-x: 675px;
$text-title-ir-y: 432px;
$text-title-ir-offset-x: -675px;
$text-title-ir-offset-y: -432px;
$text-title-ir-width: 109px;
$text-title-ir-height: 30px;
$text-title-ir-total-width: 1126px;
$text-title-ir-total-height: 511px;
$text-title-ir-image: '../images/sprites/sprite_all.png';
$text-title-ir: (675px, 432px, -675px, -432px, 109px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_ir', );
$text-title-manage-name: 'text_title_manage';
$text-title-manage-x: 788px;
$text-title-manage-y: 432px;
$text-title-manage-offset-x: -788px;
$text-title-manage-offset-y: -432px;
$text-title-manage-width: 108px;
$text-title-manage-height: 30px;
$text-title-manage-total-width: 1126px;
$text-title-manage-total-height: 511px;
$text-title-manage-image: '../images/sprites/sprite_all.png';
$text-title-manage: (788px, 432px, -788px, -432px, 108px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_manage', );
$text-title-news-name: 'text_title_news';
$text-title-news-x: 964px;
$text-title-news-y: 329px;
$text-title-news-offset-x: -964px;
$text-title-news-offset-y: -329px;
$text-title-news-width: 138px;
$text-title-news-height: 31px;
$text-title-news-total-width: 1126px;
$text-title-news-total-height: 511px;
$text-title-news-image: '../images/sprites/sprite_all.png';
$text-title-news: (964px, 329px, -964px, -329px, 138px, 31px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_news', );
$text-title-pam-name: 'text_title_pam';
$text-title-pam-x: 969px;
$text-title-pam-y: 393px;
$text-title-pam-offset-x: -969px;
$text-title-pam-offset-y: -393px;
$text-title-pam-width: 131px;
$text-title-pam-height: 30px;
$text-title-pam-total-width: 1126px;
$text-title-pam-total-height: 511px;
$text-title-pam-image: '../images/sprites/sprite_all.png';
$text-title-pam: (969px, 393px, -969px, -393px, 131px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_pam', );
$text-title-pan-name: 'text_title_pan';
$text-title-pan-x: 193px;
$text-title-pan-y: 432px;
$text-title-pan-offset-x: -193px;
$text-title-pan-offset-y: -432px;
$text-title-pan-width: 130px;
$text-title-pan-height: 30px;
$text-title-pan-total-width: 1126px;
$text-title-pan-total-height: 511px;
$text-title-pan-image: '../images/sprites/sprite_all.png';
$text-title-pan: (193px, 432px, -193px, -432px, 130px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_pan', );
$text-title-structure-name: 'text_title_structure';
$text-title-structure-x: 798px;
$text-title-structure-y: 393px;
$text-title-structure-offset-x: -798px;
$text-title-structure-offset-y: -393px;
$text-title-structure-width: 167px;
$text-title-structure-height: 30px;
$text-title-structure-total-width: 1126px;
$text-title-structure-total-height: 511px;
$text-title-structure-image: '../images/sprites/sprite_all.png';
$text-title-structure: (798px, 393px, -798px, -393px, 167px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_structure', );
$text-title-sun-name: 'text_title_sun';
$text-title-sun-x: 900px;
$text-title-sun-y: 432px;
$text-title-sun-offset-x: -900px;
$text-title-sun-offset-y: -432px;
$text-title-sun-width: 100px;
$text-title-sun-height: 30px;
$text-title-sun-total-width: 1126px;
$text-title-sun-total-height: 511px;
$text-title-sun-image: '../images/sprites/sprite_all.png';
$text-title-sun: (900px, 432px, -900px, -432px, 100px, 30px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_sun', );
$text-title-us-name: 'text_title_us';
$text-title-us-x: 619px;
$text-title-us-y: 393px;
$text-title-us-offset-x: -619px;
$text-title-us-offset-y: -393px;
$text-title-us-width: 175px;
$text-title-us-height: 31px;
$text-title-us-total-width: 1126px;
$text-title-us-total-height: 511px;
$text-title-us-image: '../images/sprites/sprite_all.png';
$text-title-us: (619px, 393px, -619px, -393px, 175px, 31px, 1126px, 511px, '../images/sprites/sprite_all.png', 'text_title_us', );
$spritesheet-width: 1126px;
$spritesheet-height: 511px;
$spritesheet-image: '../images/sprites/sprite_all.png';
$spritesheet-sprites: ($text-gnb-menu-01, $text-gnb-menu-02, $text-gnb-menu-03, $text-gnb-menu-04, $icon-file, $icon-first-page, $icon-last-page, $icon-next-page, $icon-prev-page, $icon-search, $icon-select-arrow, $text-comp01, $text-stru-con01, $text-stru-con02, $text-stru-con03, $text-stru-con04, $text-stru-con05, $text-stru-con06, $text-stru-con07, $text-stru-allen, $text-stru-cjs, $text-stru-harim, $text-stru-hol, $text-stru-pam, $text-stru-pan, $text-stru-sun, $text-sub-title-holdings, $text-sub-title-info01, $text-sub-title-info02, $text-sub-title-info03, $text-sub-title-sum, $text-sub-title-video, $text-sub-ceo, $text-sub-com, $text-title-allen, $text-title-ceo, $text-title-cjs, $text-title-com, $text-title-comp, $text-title-harim, $text-title-history, $text-title-hol, $text-title-info, $text-title-ir, $text-title-manage, $text-title-news, $text-title-pam, $text-title-pan, $text-title-structure, $text-title-sun, $text-title-us, );
$spritesheet: (1126px, 511px, '../images/sprites/sprite_all.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
