// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$text-gnb-name: 'text_gnb';
$text-gnb-x: 141px;
$text-gnb-y: 725px;
$text-gnb-offset-x: -141px;
$text-gnb-offset-y: -725px;
$text-gnb-width: 136px;
$text-gnb-height: 43px;
$text-gnb-total-width: 918px;
$text-gnb-total-height: 770px;
$text-gnb-image: '../images/sprites/sprite_all.png';
$text-gnb: (141px, 725px, -141px, -725px, 136px, 43px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnb', );
$text-gnb-menu-01-name: 'text_gnbMenu_01';
$text-gnb-menu-01-x: 729px;
$text-gnb-menu-01-y: 379px;
$text-gnb-menu-01-offset-x: -729px;
$text-gnb-menu-01-offset-y: -379px;
$text-gnb-menu-01-width: 67px;
$text-gnb-menu-01-height: 19px;
$text-gnb-menu-01-total-width: 918px;
$text-gnb-menu-01-total-height: 770px;
$text-gnb-menu-01-image: '../images/sprites/sprite_all.png';
$text-gnb-menu-01: (729px, 379px, -729px, -379px, 67px, 19px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnbMenu_01', );
$text-gnb-menu-02-name: 'text_gnbMenu_02';
$text-gnb-menu-02-x: 707px;
$text-gnb-menu-02-y: 286px;
$text-gnb-menu-02-offset-x: -707px;
$text-gnb-menu-02-offset-y: -286px;
$text-gnb-menu-02-width: 85px;
$text-gnb-menu-02-height: 19px;
$text-gnb-menu-02-total-width: 918px;
$text-gnb-menu-02-total-height: 770px;
$text-gnb-menu-02-image: '../images/sprites/sprite_all.png';
$text-gnb-menu-02: (707px, 286px, -707px, -286px, 85px, 19px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnbMenu_02', );
$text-gnb-menu-03-name: 'text_gnbMenu_03';
$text-gnb-menu-03-x: 351px;
$text-gnb-menu-03-y: 630px;
$text-gnb-menu-03-offset-x: -351px;
$text-gnb-menu-03-offset-y: -630px;
$text-gnb-menu-03-width: 67px;
$text-gnb-menu-03-height: 19px;
$text-gnb-menu-03-total-width: 918px;
$text-gnb-menu-03-total-height: 770px;
$text-gnb-menu-03-image: '../images/sprites/sprite_all.png';
$text-gnb-menu-03: (351px, 630px, -351px, -630px, 67px, 19px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnbMenu_03', );
$text-gnb-menu-04-name: 'text_gnbMenu_04';
$text-gnb-menu-04-x: 470px;
$text-gnb-menu-04-y: 379px;
$text-gnb-menu-04-offset-x: -470px;
$text-gnb-menu-04-offset-y: -379px;
$text-gnb-menu-04-width: 84px;
$text-gnb-menu-04-height: 19px;
$text-gnb-menu-04-total-width: 918px;
$text-gnb-menu-04-total-height: 770px;
$text-gnb-menu-04-image: '../images/sprites/sprite_all.png';
$text-gnb-menu-04: (470px, 379px, -470px, -379px, 84px, 19px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnbMenu_04', );
$text-gnb-sub-01-name: 'text_gnbSub_01';
$text-gnb-sub-01-x: 461px;
$text-gnb-sub-01-y: 453px;
$text-gnb-sub-01-offset-x: -461px;
$text-gnb-sub-01-offset-y: -453px;
$text-gnb-sub-01-width: 56px;
$text-gnb-sub-01-height: 15px;
$text-gnb-sub-01-total-width: 918px;
$text-gnb-sub-01-total-height: 770px;
$text-gnb-sub-01-image: '../images/sprites/sprite_all.png';
$text-gnb-sub-01: (461px, 453px, -461px, -453px, 56px, 15px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnbSub_01', );
$text-gnb-sub-02-name: 'text_gnbSub_02';
$text-gnb-sub-02-x: 707px;
$text-gnb-sub-02-y: 309px;
$text-gnb-sub-02-offset-x: -707px;
$text-gnb-sub-02-offset-y: -309px;
$text-gnb-sub-02-width: 71px;
$text-gnb-sub-02-height: 15px;
$text-gnb-sub-02-total-width: 918px;
$text-gnb-sub-02-total-height: 770px;
$text-gnb-sub-02-image: '../images/sprites/sprite_all.png';
$text-gnb-sub-02: (707px, 309px, -707px, -309px, 71px, 15px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnbSub_02', );
$text-gnb-sub-03-name: 'text_gnbSub_03';
$text-gnb-sub-03-x: 521px;
$text-gnb-sub-03-y: 453px;
$text-gnb-sub-03-offset-x: -521px;
$text-gnb-sub-03-offset-y: -453px;
$text-gnb-sub-03-width: 56px;
$text-gnb-sub-03-height: 15px;
$text-gnb-sub-03-total-width: 918px;
$text-gnb-sub-03-total-height: 770px;
$text-gnb-sub-03-image: '../images/sprites/sprite_all.png';
$text-gnb-sub-03: (521px, 453px, -521px, -453px, 56px, 15px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnbSub_03', );
$text-gnb-sub-04-name: 'text_gnbSub_04';
$text-gnb-sub-04-x: 502px;
$text-gnb-sub-04-y: 328px;
$text-gnb-sub-04-offset-x: -502px;
$text-gnb-sub-04-offset-y: -328px;
$text-gnb-sub-04-width: 69px;
$text-gnb-sub-04-height: 16px;
$text-gnb-sub-04-total-width: 918px;
$text-gnb-sub-04-total-height: 770px;
$text-gnb-sub-04-image: '../images/sprites/sprite_all.png';
$text-gnb-sub-04: (502px, 328px, -502px, -328px, 69px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_gnbSub_04', );
$icon-file-name: 'icon_file';
$icon-file-x: 889px;
$icon-file-y: 243px;
$icon-file-offset-x: -889px;
$icon-file-offset-y: -243px;
$icon-file-width: 23px;
$icon-file-height: 23px;
$icon-file-total-width: 918px;
$icon-file-total-height: 770px;
$icon-file-image: '../images/sprites/sprite_all.png';
$icon-file: (889px, 243px, -889px, -243px, 23px, 23px, 918px, 770px, '../images/sprites/sprite_all.png', 'icon_file', );
$icon-first-page-name: 'icon_firstPage';
$icon-first-page-x: 902px;
$icon-first-page-y: 160px;
$icon-first-page-offset-x: -902px;
$icon-first-page-offset-y: -160px;
$icon-first-page-width: 12px;
$icon-first-page-height: 11px;
$icon-first-page-total-width: 918px;
$icon-first-page-total-height: 770px;
$icon-first-page-image: '../images/sprites/sprite_all.png';
$icon-first-page: (902px, 160px, -902px, -160px, 12px, 11px, 918px, 770px, '../images/sprites/sprite_all.png', 'icon_firstPage', );
$icon-last-page-name: 'icon_lastPage';
$icon-last-page-x: 902px;
$icon-last-page-y: 145px;
$icon-last-page-offset-x: -902px;
$icon-last-page-offset-y: -145px;
$icon-last-page-width: 12px;
$icon-last-page-height: 11px;
$icon-last-page-total-width: 918px;
$icon-last-page-total-height: 770px;
$icon-last-page-image: '../images/sprites/sprite_all.png';
$icon-last-page: (902px, 145px, -902px, -145px, 12px, 11px, 918px, 770px, '../images/sprites/sprite_all.png', 'icon_lastPage', );
$icon-main-more-name: 'icon_main_more';
$icon-main-more-x: 890px;
$icon-main-more-y: 292px;
$icon-main-more-offset-x: -890px;
$icon-main-more-offset-y: -292px;
$icon-main-more-width: 20px;
$icon-main-more-height: 20px;
$icon-main-more-total-width: 918px;
$icon-main-more-total-height: 770px;
$icon-main-more-image: '../images/sprites/sprite_all.png';
$icon-main-more: (890px, 292px, -890px, -292px, 20px, 20px, 918px, 770px, '../images/sprites/sprite_all.png', 'icon_main_more', );
$icon-next-page-name: 'icon_nextPage';
$icon-next-page-x: 902px;
$icon-next-page-y: 175px;
$icon-next-page-offset-x: -902px;
$icon-next-page-offset-y: -175px;
$icon-next-page-width: 9px;
$icon-next-page-height: 11px;
$icon-next-page-total-width: 918px;
$icon-next-page-total-height: 770px;
$icon-next-page-image: '../images/sprites/sprite_all.png';
$icon-next-page: (902px, 175px, -902px, -175px, 9px, 11px, 918px, 770px, '../images/sprites/sprite_all.png', 'icon_nextPage', );
$icon-prev-page-name: 'icon_prevPage';
$icon-prev-page-x: 902px;
$icon-prev-page-y: 194px;
$icon-prev-page-offset-x: -902px;
$icon-prev-page-offset-y: -194px;
$icon-prev-page-width: 9px;
$icon-prev-page-height: 11px;
$icon-prev-page-total-width: 918px;
$icon-prev-page-total-height: 770px;
$icon-prev-page-image: '../images/sprites/sprite_all.png';
$icon-prev-page: (902px, 194px, -902px, -194px, 9px, 11px, 918px, 770px, '../images/sprites/sprite_all.png', 'icon_prevPage', );
$icon-search-name: 'icon_search';
$icon-search-x: 890px;
$icon-search-y: 316px;
$icon-search-offset-x: -890px;
$icon-search-offset-y: -316px;
$icon-search-width: 20px;
$icon-search-height: 20px;
$icon-search-total-width: 918px;
$icon-search-total-height: 770px;
$icon-search-image: '../images/sprites/sprite_all.png';
$icon-search: (890px, 316px, -890px, -316px, 20px, 20px, 918px, 770px, '../images/sprites/sprite_all.png', 'icon_search', );
$icon-select-arrow-name: 'icon_select_arrow';
$icon-select-arrow-x: 889px;
$icon-select-arrow-y: 270px;
$icon-select-arrow-offset-x: -889px;
$icon-select-arrow-offset-y: -270px;
$icon-select-arrow-width: 19px;
$icon-select-arrow-height: 12px;
$icon-select-arrow-total-width: 918px;
$icon-select-arrow-total-height: 770px;
$icon-select-arrow-image: '../images/sprites/sprite_all.png';
$icon-select-arrow: (889px, 270px, -889px, -270px, 19px, 12px, 918px, 770px, '../images/sprites/sprite_all.png', 'icon_select_arrow', );
$text-comp01-name: 'text_comp01';
$text-comp01-x: 0px;
$text-comp01-y: 349px;
$text-comp01-offset-x: 0px;
$text-comp01-offset-y: -349px;
$text-comp01-width: 466px;
$text-comp01-height: 58px;
$text-comp01-total-width: 918px;
$text-comp01-total-height: 770px;
$text-comp01-image: '../images/sprites/sprite_all.png';
$text-comp01: (0px, 349px, 0px, -349px, 466px, 58px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_comp01', );
$text-main-box01-name: 'text_mainBox01';
$text-main-box01-x: 0px;
$text-main-box01-y: 0px;
$text-main-box01-offset-x: 0px;
$text-main-box01-offset-y: 0px;
$text-main-box01-width: 242px;
$text-main-box01-height: 157px;
$text-main-box01-total-width: 918px;
$text-main-box01-total-height: 770px;
$text-main-box01-image: '../images/sprites/sprite_all.png';
$text-main-box01: (0px, 0px, 0px, 0px, 242px, 157px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox01', );
$text-main-box02-01-name: 'text_mainBox02_01';
$text-main-box02-01-x: 802px;
$text-main-box02-01-y: 389px;
$text-main-box02-01-offset-x: -802px;
$text-main-box02-01-offset-y: -389px;
$text-main-box02-01-width: 80px;
$text-main-box02-01-height: 44px;
$text-main-box02-01-total-width: 918px;
$text-main-box02-01-total-height: 770px;
$text-main-box02-01-image: '../images/sprites/sprite_all.png';
$text-main-box02-01: (802px, 389px, -802px, -389px, 80px, 44px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox02_01', );
$text-main-box02-02-name: 'text_mainBox02_02';
$text-main-box02-02-x: 641px;
$text-main-box02-02-y: 328px;
$text-main-box02-02-offset-x: -641px;
$text-main-box02-02-offset-y: -328px;
$text-main-box02-02-width: 60px;
$text-main-box02-02-height: 16px;
$text-main-box02-02-total-width: 918px;
$text-main-box02-02-total-height: 770px;
$text-main-box02-02-image: '../images/sprites/sprite_all.png';
$text-main-box02-02: (641px, 328px, -641px, -328px, 60px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox02_02', );
$text-main-box02-03-name: 'text_mainBox02_03';
$text-main-box02-03-x: 705px;
$text-main-box02-03-y: 328px;
$text-main-box02-03-offset-x: -705px;
$text-main-box02-03-offset-y: -328px;
$text-main-box02-03-width: 60px;
$text-main-box02-03-height: 16px;
$text-main-box02-03-total-width: 918px;
$text-main-box02-03-total-height: 770px;
$text-main-box02-03-image: '../images/sprites/sprite_all.png';
$text-main-box02-03: (705px, 328px, -705px, -328px, 60px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox02_03', );
$text-main-box03-name: 'text_mainBox03';
$text-main-box03-x: 802px;
$text-main-box03-y: 292px;
$text-main-box03-offset-x: -802px;
$text-main-box03-offset-y: -292px;
$text-main-box03-width: 84px;
$text-main-box03-height: 44px;
$text-main-box03-total-width: 918px;
$text-main-box03-total-height: 770px;
$text-main-box03-image: '../images/sprites/sprite_all.png';
$text-main-box03: (802px, 292px, -802px, -292px, 84px, 44px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox03', );
$text-main-box04-name: 'text_mainBox04';
$text-main-box04-x: 802px;
$text-main-box04-y: 98px;
$text-main-box04-offset-x: -802px;
$text-main-box04-offset-y: -98px;
$text-main-box04-width: 106px;
$text-main-box04-height: 43px;
$text-main-box04-total-width: 918px;
$text-main-box04-total-height: 770px;
$text-main-box04-image: '../images/sprites/sprite_all.png';
$text-main-box04: (802px, 98px, -802px, -98px, 106px, 43px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox04', );
$text-main-box05-01-name: 'text_mainBox05_01';
$text-main-box05-01-x: 802px;
$text-main-box05-01-y: 656px;
$text-main-box05-01-offset-x: -802px;
$text-main-box05-01-offset-y: -656px;
$text-main-box05-01-width: 73px;
$text-main-box05-01-height: 44px;
$text-main-box05-01-total-width: 918px;
$text-main-box05-01-total-height: 770px;
$text-main-box05-01-image: '../images/sprites/sprite_all.png';
$text-main-box05-01: (802px, 656px, -802px, -656px, 73px, 44px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_01', );
$text-main-box05-02-name: 'text_mainBox05_02';
$text-main-box05-02-x: 0px;
$text-main-box05-02-y: 725px;
$text-main-box05-02-offset-x: 0px;
$text-main-box05-02-offset-y: -725px;
$text-main-box05-02-width: 137px;
$text-main-box05-02-height: 45px;
$text-main-box05-02-total-width: 918px;
$text-main-box05-02-total-height: 770px;
$text-main-box05-02-image: '../images/sprites/sprite_all.png';
$text-main-box05-02: (0px, 725px, 0px, -725px, 137px, 45px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_02', );
$text-main-box05-03-name: 'text_mainBox05_03';
$text-main-box05-03-x: 802px;
$text-main-box05-03-y: 607px;
$text-main-box05-03-offset-x: -802px;
$text-main-box05-03-offset-y: -607px;
$text-main-box05-03-width: 73px;
$text-main-box05-03-height: 45px;
$text-main-box05-03-total-width: 918px;
$text-main-box05-03-total-height: 770px;
$text-main-box05-03-image: '../images/sprites/sprite_all.png';
$text-main-box05-03: (802px, 607px, -802px, -607px, 73px, 45px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_03', );
$text-main-box05-04-name: 'text_mainBox05_04';
$text-main-box05-04-x: 802px;
$text-main-box05-04-y: 194px;
$text-main-box05-04-offset-x: -802px;
$text-main-box05-04-offset-y: -194px;
$text-main-box05-04-width: 96px;
$text-main-box05-04-height: 45px;
$text-main-box05-04-total-width: 918px;
$text-main-box05-04-total-height: 770px;
$text-main-box05-04-image: '../images/sprites/sprite_all.png';
$text-main-box05-04: (802px, 194px, -802px, -194px, 96px, 45px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_04', );
$text-main-box05-05-name: 'text_mainBox05_05';
$text-main-box05-05-x: 802px;
$text-main-box05-05-y: 145px;
$text-main-box05-05-offset-x: -802px;
$text-main-box05-05-offset-y: -145px;
$text-main-box05-05-width: 96px;
$text-main-box05-05-height: 45px;
$text-main-box05-05-total-width: 918px;
$text-main-box05-05-total-height: 770px;
$text-main-box05-05-image: '../images/sprites/sprite_all.png';
$text-main-box05-05: (802px, 145px, -802px, -145px, 96px, 45px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_05', );
$text-main-box05-06-name: 'text_mainBox05_06';
$text-main-box05-06-x: 802px;
$text-main-box05-06-y: 49px;
$text-main-box05-06-offset-x: -802px;
$text-main-box05-06-offset-y: -49px;
$text-main-box05-06-width: 116px;
$text-main-box05-06-height: 45px;
$text-main-box05-06-total-width: 918px;
$text-main-box05-06-total-height: 770px;
$text-main-box05-06-image: '../images/sprites/sprite_all.png';
$text-main-box05-06: (802px, 49px, -802px, -49px, 116px, 45px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_06', );
$text-main-box05-07-name: 'text_mainBox05_07';
$text-main-box05-07-x: 802px;
$text-main-box05-07-y: 0px;
$text-main-box05-07-offset-x: -802px;
$text-main-box05-07-offset-y: 0px;
$text-main-box05-07-width: 116px;
$text-main-box05-07-height: 45px;
$text-main-box05-07-total-width: 918px;
$text-main-box05-07-total-height: 770px;
$text-main-box05-07-image: '../images/sprites/sprite_all.png';
$text-main-box05-07: (802px, 0px, -802px, 0px, 116px, 45px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_07', );
$text-main-box05-08-name: 'text_mainBox05_08';
$text-main-box05-08-x: 802px;
$text-main-box05-08-y: 243px;
$text-main-box05-08-offset-x: -802px;
$text-main-box05-08-offset-y: -243px;
$text-main-box05-08-width: 83px;
$text-main-box05-08-height: 45px;
$text-main-box05-08-total-width: 918px;
$text-main-box05-08-total-height: 770px;
$text-main-box05-08-image: '../images/sprites/sprite_all.png';
$text-main-box05-08: (802px, 243px, -802px, -243px, 83px, 45px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_08', );
$text-main-box05-09-name: 'text_mainBox05_09';
$text-main-box05-09-x: 802px;
$text-main-box05-09-y: 340px;
$text-main-box05-09-offset-x: -802px;
$text-main-box05-09-offset-y: -340px;
$text-main-box05-09-width: 82px;
$text-main-box05-09-height: 45px;
$text-main-box05-09-total-width: 918px;
$text-main-box05-09-total-height: 770px;
$text-main-box05-09-image: '../images/sprites/sprite_all.png';
$text-main-box05-09: (802px, 340px, -802px, -340px, 82px, 45px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_09', );
$text-main-box05-10-name: 'text_mainBox05_10';
$text-main-box05-10-x: 0px;
$text-main-box05-10-y: 659px;
$text-main-box05-10-offset-x: 0px;
$text-main-box05-10-offset-y: -659px;
$text-main-box05-10-width: 150px;
$text-main-box05-10-height: 62px;
$text-main-box05-10-total-width: 918px;
$text-main-box05-10-total-height: 770px;
$text-main-box05-10-image: '../images/sprites/sprite_all.png';
$text-main-box05-10: (0px, 659px, 0px, -659px, 150px, 62px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox05_10', );
$text-main-box06-name: 'text_mainBox06';
$text-main-box06-x: 642px;
$text-main-box06-y: 265px;
$text-main-box06-offset-x: -642px;
$text-main-box06-offset-y: -265px;
$text-main-box06-width: 76px;
$text-main-box06-height: 16px;
$text-main-box06-total-width: 918px;
$text-main-box06-total-height: 770px;
$text-main-box06-image: '../images/sprites/sprite_all.png';
$text-main-box06: (642px, 265px, -642px, -265px, 76px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox06', );
$text-main-box07-name: 'text_mainBox07';
$text-main-box07-x: 575px;
$text-main-box07-y: 328px;
$text-main-box07-offset-x: -575px;
$text-main-box07-offset-y: -328px;
$text-main-box07-width: 62px;
$text-main-box07-height: 16px;
$text-main-box07-total-width: 918px;
$text-main-box07-total-height: 770px;
$text-main-box07-image: '../images/sprites/sprite_all.png';
$text-main-box07: (575px, 328px, -575px, -328px, 62px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox07', );
$text-main-box08-name: 'text_mainBox08';
$text-main-box08-x: 690px;
$text-main-box08-y: 203px;
$text-main-box08-offset-x: -690px;
$text-main-box08-offset-y: -203px;
$text-main-box08-width: 93px;
$text-main-box08-height: 16px;
$text-main-box08-total-width: 918px;
$text-main-box08-total-height: 770px;
$text-main-box08-image: '../images/sprites/sprite_all.png';
$text-main-box08: (690px, 203px, -690px, -203px, 93px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_mainBox08', );
$text-stru-con01-name: 'text_struCon01';
$text-stru-con01-x: 0px;
$text-stru-con01-y: 411px;
$text-stru-con01-offset-x: 0px;
$text-stru-con01-offset-y: -411px;
$text-stru-con01-width: 457px;
$text-stru-con01-height: 58px;
$text-stru-con01-total-width: 918px;
$text-stru-con01-total-height: 770px;
$text-stru-con01-image: '../images/sprites/sprite_all.png';
$text-stru-con01: (0px, 411px, 0px, -411px, 457px, 58px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_struCon01', );
$text-stru-con02-name: 'text_struCon02';
$text-stru-con02-x: 0px;
$text-stru-con02-y: 473px;
$text-stru-con02-offset-x: 0px;
$text-stru-con02-offset-y: -473px;
$text-stru-con02-width: 414px;
$text-stru-con02-height: 57px;
$text-stru-con02-total-width: 918px;
$text-stru-con02-total-height: 770px;
$text-stru-con02-image: '../images/sprites/sprite_all.png';
$text-stru-con02: (0px, 473px, 0px, -473px, 414px, 57px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_struCon02', );
$text-stru-con03-name: 'text_struCon03';
$text-stru-con03-x: 0px;
$text-stru-con03-y: 224px;
$text-stru-con03-offset-x: 0px;
$text-stru-con03-offset-y: -224px;
$text-stru-con03-width: 522px;
$text-stru-con03-height: 58px;
$text-stru-con03-total-width: 918px;
$text-stru-con03-total-height: 770px;
$text-stru-con03-image: '../images/sprites/sprite_all.png';
$text-stru-con03: (0px, 224px, 0px, -224px, 522px, 58px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_struCon03', );
$text-stru-con04-name: 'text_struCon04';
$text-stru-con04-x: 0px;
$text-stru-con04-y: 534px;
$text-stru-con04-offset-x: 0px;
$text-stru-con04-offset-y: -534px;
$text-stru-con04-width: 400px;
$text-stru-con04-height: 57px;
$text-stru-con04-total-width: 918px;
$text-stru-con04-total-height: 770px;
$text-stru-con04-image: '../images/sprites/sprite_all.png';
$text-stru-con04: (0px, 534px, 0px, -534px, 400px, 57px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_struCon04', );
$text-stru-con05-name: 'text_struCon05';
$text-stru-con05-x: 0px;
$text-stru-con05-y: 595px;
$text-stru-con05-offset-x: 0px;
$text-stru-con05-offset-y: -595px;
$text-stru-con05-width: 347px;
$text-stru-con05-height: 60px;
$text-stru-con05-total-width: 918px;
$text-stru-con05-total-height: 770px;
$text-stru-con05-image: '../images/sprites/sprite_all.png';
$text-stru-con05: (0px, 595px, 0px, -595px, 347px, 60px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_struCon05', );
$text-stru-con06-name: 'text_struCon06';
$text-stru-con06-x: 0px;
$text-stru-con06-y: 286px;
$text-stru-con06-offset-x: 0px;
$text-stru-con06-offset-y: -286px;
$text-stru-con06-width: 498px;
$text-stru-con06-height: 59px;
$text-stru-con06-total-width: 918px;
$text-stru-con06-total-height: 770px;
$text-stru-con06-image: '../images/sprites/sprite_all.png';
$text-stru-con06: (0px, 286px, 0px, -286px, 498px, 59px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_struCon06', );
$text-stru-con07-name: 'text_struCon07';
$text-stru-con07-x: 0px;
$text-stru-con07-y: 161px;
$text-stru-con07-offset-x: 0px;
$text-stru-con07-offset-y: -161px;
$text-stru-con07-width: 570px;
$text-stru-con07-height: 59px;
$text-stru-con07-total-width: 918px;
$text-stru-con07-total-height: 770px;
$text-stru-con07-image: '../images/sprites/sprite_all.png';
$text-stru-con07: (0px, 161px, 0px, -161px, 570px, 59px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_struCon07', );
$text-stru-allen-name: 'text_stru_allen';
$text-stru-allen-x: 418px;
$text-stru-allen-y: 473px;
$text-stru-allen-offset-x: -418px;
$text-stru-allen-offset-y: -473px;
$text-stru-allen-width: 207px;
$text-stru-allen-height: 35px;
$text-stru-allen-total-width: 918px;
$text-stru-allen-total-height: 770px;
$text-stru-allen-image: '../images/sprites/sprite_all.png';
$text-stru-allen: (418px, 473px, -418px, -473px, 207px, 35px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_stru_allen', );
$text-stru-cjs-name: 'text_stru_cjs';
$text-stru-cjs-x: 574px;
$text-stru-cjs-y: 161px;
$text-stru-cjs-offset-x: -574px;
$text-stru-cjs-offset-y: -161px;
$text-stru-cjs-width: 203px;
$text-stru-cjs-height: 38px;
$text-stru-cjs-total-width: 918px;
$text-stru-cjs-total-height: 770px;
$text-stru-cjs-image: '../images/sprites/sprite_all.png';
$text-stru-cjs: (574px, 161px, -574px, -161px, 203px, 38px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_stru_cjs', );
$text-stru-harim-name: 'text_stru_harim';
$text-stru-harim-x: 502px;
$text-stru-harim-y: 286px;
$text-stru-harim-offset-x: -502px;
$text-stru-harim-offset-y: -286px;
$text-stru-harim-width: 201px;
$text-stru-harim-height: 38px;
$text-stru-harim-total-width: 918px;
$text-stru-harim-total-height: 770px;
$text-stru-harim-image: '../images/sprites/sprite_all.png';
$text-stru-harim: (502px, 286px, -502px, -286px, 201px, 38px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_stru_harim', );
$text-stru-hol-name: 'text_stru_hol';
$text-stru-hol-x: 461px;
$text-stru-hol-y: 411px;
$text-stru-hol-offset-x: -461px;
$text-stru-hol-offset-y: -411px;
$text-stru-hol-width: 197px;
$text-stru-hol-height: 38px;
$text-stru-hol-total-width: 918px;
$text-stru-hol-total-height: 770px;
$text-stru-hol-image: '../images/sprites/sprite_all.png';
$text-stru-hol: (461px, 411px, -461px, -411px, 197px, 38px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_stru_hol', );
$text-stru-pam-name: 'text_stru_pam';
$text-stru-pam-x: 526px;
$text-stru-pam-y: 224px;
$text-stru-pam-offset-x: -526px;
$text-stru-pam-offset-y: -224px;
$text-stru-pam-width: 230px;
$text-stru-pam-height: 37px;
$text-stru-pam-total-width: 918px;
$text-stru-pam-total-height: 770px;
$text-stru-pam-image: '../images/sprites/sprite_all.png';
$text-stru-pam: (526px, 224px, -526px, -224px, 230px, 37px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_stru_pam', );
$text-stru-pan-name: 'text_stru_pan';
$text-stru-pan-x: 404px;
$text-stru-pan-y: 534px;
$text-stru-pan-offset-x: -404px;
$text-stru-pan-offset-y: -534px;
$text-stru-pan-width: 189px;
$text-stru-pan-height: 37px;
$text-stru-pan-total-width: 918px;
$text-stru-pan-total-height: 770px;
$text-stru-pan-image: '../images/sprites/sprite_all.png';
$text-stru-pan: (404px, 534px, -404px, -534px, 189px, 37px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_stru_pan', );
$text-stru-sun-name: 'text_stru_sun';
$text-stru-sun-x: 154px;
$text-stru-sun-y: 659px;
$text-stru-sun-offset-x: -154px;
$text-stru-sun-offset-y: -659px;
$text-stru-sun-width: 175px;
$text-stru-sun-height: 38px;
$text-stru-sun-total-width: 918px;
$text-stru-sun-total-height: 770px;
$text-stru-sun-image: '../images/sprites/sprite_all.png';
$text-stru-sun: (154px, 659px, -154px, -659px, 175px, 38px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_stru_sun', );
$text-sub-title-holdings-name: 'text_subTitle_holdings';
$text-sub-title-holdings-x: 644px;
$text-sub-title-holdings-y: 379px;
$text-sub-title-holdings-offset-x: -644px;
$text-sub-title-holdings-offset-y: -379px;
$text-sub-title-holdings-width: 81px;
$text-sub-title-holdings-height: 19px;
$text-sub-title-holdings-total-width: 918px;
$text-sub-title-holdings-total-height: 770px;
$text-sub-title-holdings-image: '../images/sprites/sprite_all.png';
$text-sub-title-holdings: (644px, 379px, -644px, -379px, 81px, 19px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_subTitle_holdings', );
$text-sub-title-info01-name: 'text_subTitle_info01';
$text-sub-title-info01-x: 574px;
$text-sub-title-info01-y: 203px;
$text-sub-title-info01-offset-x: -574px;
$text-sub-title-info01-offset-y: -203px;
$text-sub-title-info01-width: 112px;
$text-sub-title-info01-height: 16px;
$text-sub-title-info01-total-width: 918px;
$text-sub-title-info01-total-height: 770px;
$text-sub-title-info01-image: '../images/sprites/sprite_all.png';
$text-sub-title-info01: (574px, 203px, -574px, -203px, 112px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_subTitle_info01', );
$text-sub-title-info02-name: 'text_subTitle_info02';
$text-sub-title-info02-x: 526px;
$text-sub-title-info02-y: 265px;
$text-sub-title-info02-offset-x: -526px;
$text-sub-title-info02-offset-y: -265px;
$text-sub-title-info02-width: 112px;
$text-sub-title-info02-height: 16px;
$text-sub-title-info02-total-width: 918px;
$text-sub-title-info02-total-height: 770px;
$text-sub-title-info02-image: '../images/sprites/sprite_all.png';
$text-sub-title-info02: (526px, 265px, -526px, -265px, 112px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_subTitle_info02', );
$text-sub-title-info03-name: 'text_subTitle_info03';
$text-sub-title-info03-x: 722px;
$text-sub-title-info03-y: 265px;
$text-sub-title-info03-offset-x: -722px;
$text-sub-title-info03-offset-y: -265px;
$text-sub-title-info03-width: 75px;
$text-sub-title-info03-height: 16px;
$text-sub-title-info03-total-width: 918px;
$text-sub-title-info03-total-height: 770px;
$text-sub-title-info03-image: '../images/sprites/sprite_all.png';
$text-sub-title-info03: (722px, 265px, -722px, -265px, 75px, 16px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_subTitle_info03', );
$text-sub-title-sum-name: 'text_subTitle_sum';
$text-sub-title-sum-x: 879px;
$text-sub-title-sum-y: 607px;
$text-sub-title-sum-offset-x: -879px;
$text-sub-title-sum-offset-y: -607px;
$text-sub-title-sum-width: 34px;
$text-sub-title-sum-height: 18px;
$text-sub-title-sum-total-width: 918px;
$text-sub-title-sum-total-height: 770px;
$text-sub-title-sum-image: '../images/sprites/sprite_all.png';
$text-sub-title-sum: (879px, 607px, -879px, -607px, 34px, 18px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_subTitle_sum', );
$text-sub-title-video-name: 'text_subTitle_video';
$text-sub-title-video-x: 558px;
$text-sub-title-video-y: 379px;
$text-sub-title-video-offset-x: -558px;
$text-sub-title-video-offset-y: -379px;
$text-sub-title-video-width: 82px;
$text-sub-title-video-height: 19px;
$text-sub-title-video-total-width: 918px;
$text-sub-title-video-total-height: 770px;
$text-sub-title-video-image: '../images/sprites/sprite_all.png';
$text-sub-title-video: (558px, 379px, -558px, -379px, 82px, 19px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_subTitle_video', );
$text-sub-ceo-name: 'text_sub_ceo';
$text-sub-ceo-x: 246px;
$text-sub-ceo-y: 0px;
$text-sub-ceo-offset-x: -246px;
$text-sub-ceo-offset-y: 0px;
$text-sub-ceo-width: 552px;
$text-sub-ceo-height: 67px;
$text-sub-ceo-total-width: 918px;
$text-sub-ceo-total-height: 770px;
$text-sub-ceo-image: '../images/sprites/sprite_all.png';
$text-sub-ceo: (246px, 0px, -246px, 0px, 552px, 67px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_sub_ceo', );
$text-sub-com-name: 'text_sub_com';
$text-sub-com-x: 246px;
$text-sub-com-y: 71px;
$text-sub-com-offset-x: -246px;
$text-sub-com-offset-y: -71px;
$text-sub-com-width: 530px;
$text-sub-com-height: 68px;
$text-sub-com-total-width: 918px;
$text-sub-com-total-height: 770px;
$text-sub-com-image: '../images/sprites/sprite_all.png';
$text-sub-com: (246px, 71px, -246px, -71px, 530px, 68px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_sub_com', );
$text-title-allen-name: 'text_title_allen';
$text-title-allen-x: 470px;
$text-title-allen-y: 349px;
$text-title-allen-offset-x: -470px;
$text-title-allen-offset-y: -349px;
$text-title-allen-width: 316px;
$text-title-allen-height: 26px;
$text-title-allen-total-width: 918px;
$text-title-allen-total-height: 770px;
$text-title-allen-image: '../images/sprites/sprite_all.png';
$text-title-allen: (470px, 349px, -470px, -349px, 316px, 26px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_allen', );
$text-title-ceo-name: 'text_title_ceo';
$text-title-ceo-x: 333px;
$text-title-ceo-y: 659px;
$text-title-ceo-offset-x: -333px;
$text-title-ceo-offset-y: -659px;
$text-title-ceo-width: 144px;
$text-title-ceo-height: 30px;
$text-title-ceo-total-width: 918px;
$text-title-ceo-total-height: 770px;
$text-title-ceo-image: '../images/sprites/sprite_all.png';
$text-title-ceo: (333px, 659px, -333px, -659px, 144px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_ceo', );
$text-title-cjs-name: 'text_title_cjs';
$text-title-cjs-x: 351px;
$text-title-cjs-y: 595px;
$text-title-cjs-offset-x: -351px;
$text-title-cjs-offset-y: -595px;
$text-title-cjs-width: 213px;
$text-title-cjs-height: 31px;
$text-title-cjs-total-width: 918px;
$text-title-cjs-total-height: 770px;
$text-title-cjs-image: '../images/sprites/sprite_all.png';
$text-title-cjs: (351px, 595px, -351px, -595px, 213px, 31px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_cjs', );
$text-title-com-name: 'text_title_com';
$text-title-com-x: 802px;
$text-title-com-y: 437px;
$text-title-com-offset-x: -802px;
$text-title-com-offset-y: -437px;
$text-title-com-width: 113px;
$text-title-com-height: 30px;
$text-title-com-total-width: 918px;
$text-title-com-total-height: 770px;
$text-title-com-image: '../images/sprites/sprite_all.png';
$text-title-com: (802px, 437px, -802px, -437px, 113px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_com', );
$text-title-comp-name: 'text_title_comp';
$text-title-comp-x: 802px;
$text-title-comp-y: 505px;
$text-title-comp-offset-x: -802px;
$text-title-comp-offset-y: -505px;
$text-title-comp-width: 111px;
$text-title-comp-height: 30px;
$text-title-comp-total-width: 918px;
$text-title-comp-total-height: 770px;
$text-title-comp-image: '../images/sprites/sprite_all.png';
$text-title-comp: (802px, 505px, -802px, -505px, 111px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_comp', );
$text-title-harim-name: 'text_title_harim';
$text-title-harim-x: 802px;
$text-title-harim-y: 704px;
$text-title-harim-offset-x: -802px;
$text-title-harim-offset-y: -704px;
$text-title-harim-width: 100px;
$text-title-harim-height: 30px;
$text-title-harim-total-width: 918px;
$text-title-harim-total-height: 770px;
$text-title-harim-image: '../images/sprites/sprite_all.png';
$text-title-harim: (802px, 704px, -802px, -704px, 100px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_harim', );
$text-title-history-name: 'text_title_history';
$text-title-history-x: 423px;
$text-title-history-y: 725px;
$text-title-history-offset-x: -423px;
$text-title-history-offset-y: -725px;
$text-title-history-width: 53px;
$text-title-history-height: 31px;
$text-title-history-total-width: 918px;
$text-title-history-total-height: 770px;
$text-title-history-image: '../images/sprites/sprite_all.png';
$text-title-history: (423px, 725px, -423px, -725px, 53px, 31px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_history', );
$text-title-hol-name: 'text_title_hol';
$text-title-hol-x: 597px;
$text-title-hol-y: 534px;
$text-title-hol-offset-x: -597px;
$text-title-hol-offset-y: -534px;
$text-title-hol-width: 187px;
$text-title-hol-height: 31px;
$text-title-hol-total-width: 918px;
$text-title-hol-total-height: 770px;
$text-title-hol-image: '../images/sprites/sprite_all.png';
$text-title-hol: (597px, 534px, -597px, -534px, 187px, 31px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_hol', );
$text-title-info-name: 'text_title_info';
$text-title-info-x: 802px;
$text-title-info-y: 471px;
$text-title-info-offset-x: -802px;
$text-title-info-offset-y: -471px;
$text-title-info-width: 112px;
$text-title-info-height: 30px;
$text-title-info-total-width: 918px;
$text-title-info-total-height: 770px;
$text-title-info-image: '../images/sprites/sprite_all.png';
$text-title-info: (802px, 471px, -802px, -471px, 112px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_info', );
$text-title-ir-name: 'text_title_ir';
$text-title-ir-x: 802px;
$text-title-ir-y: 539px;
$text-title-ir-offset-x: -802px;
$text-title-ir-offset-y: -539px;
$text-title-ir-width: 109px;
$text-title-ir-height: 30px;
$text-title-ir-total-width: 918px;
$text-title-ir-total-height: 770px;
$text-title-ir-image: '../images/sprites/sprite_all.png';
$text-title-ir: (802px, 539px, -802px, -539px, 109px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_ir', );
$text-title-manage-name: 'text_title_manage';
$text-title-manage-x: 802px;
$text-title-manage-y: 573px;
$text-title-manage-offset-x: -802px;
$text-title-manage-offset-y: -573px;
$text-title-manage-width: 108px;
$text-title-manage-height: 30px;
$text-title-manage-total-width: 918px;
$text-title-manage-total-height: 770px;
$text-title-manage-image: '../images/sprites/sprite_all.png';
$text-title-manage: (802px, 573px, -802px, -573px, 108px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_manage', );
$text-title-news-name: 'text_title_news';
$text-title-news-x: 281px;
$text-title-news-y: 725px;
$text-title-news-offset-x: -281px;
$text-title-news-offset-y: -725px;
$text-title-news-width: 138px;
$text-title-news-height: 31px;
$text-title-news-total-width: 918px;
$text-title-news-total-height: 770px;
$text-title-news-image: '../images/sprites/sprite_all.png';
$text-title-news: (281px, 725px, -281px, -725px, 138px, 31px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_news', );
$text-title-pam-name: 'text_title_pam';
$text-title-pam-x: 662px;
$text-title-pam-y: 411px;
$text-title-pam-offset-x: -662px;
$text-title-pam-offset-y: -411px;
$text-title-pam-width: 131px;
$text-title-pam-height: 30px;
$text-title-pam-total-width: 918px;
$text-title-pam-total-height: 770px;
$text-title-pam-image: '../images/sprites/sprite_all.png';
$text-title-pam: (662px, 411px, -662px, -411px, 131px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_pam', );
$text-title-pan-name: 'text_title_pan';
$text-title-pan-x: 481px;
$text-title-pan-y: 659px;
$text-title-pan-offset-x: -481px;
$text-title-pan-offset-y: -659px;
$text-title-pan-width: 130px;
$text-title-pan-height: 30px;
$text-title-pan-total-width: 918px;
$text-title-pan-total-height: 770px;
$text-title-pan-image: '../images/sprites/sprite_all.png';
$text-title-pan: (481px, 659px, -481px, -659px, 130px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_pan', );
$text-title-structure-name: 'text_title_structure';
$text-title-structure-x: 629px;
$text-title-structure-y: 473px;
$text-title-structure-offset-x: -629px;
$text-title-structure-offset-y: -473px;
$text-title-structure-width: 167px;
$text-title-structure-height: 30px;
$text-title-structure-total-width: 918px;
$text-title-structure-total-height: 770px;
$text-title-structure-image: '../images/sprites/sprite_all.png';
$text-title-structure: (629px, 473px, -629px, -473px, 167px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_structure', );
$text-title-sun-name: 'text_title_sun';
$text-title-sun-x: 802px;
$text-title-sun-y: 738px;
$text-title-sun-offset-x: -802px;
$text-title-sun-offset-y: -738px;
$text-title-sun-width: 100px;
$text-title-sun-height: 30px;
$text-title-sun-total-width: 918px;
$text-title-sun-total-height: 770px;
$text-title-sun-image: '../images/sprites/sprite_all.png';
$text-title-sun: (802px, 738px, -802px, -738px, 100px, 30px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_sun', );
$text-title-us-name: 'text_title_us';
$text-title-us-x: 568px;
$text-title-us-y: 595px;
$text-title-us-offset-x: -568px;
$text-title-us-offset-y: -595px;
$text-title-us-width: 175px;
$text-title-us-height: 31px;
$text-title-us-total-width: 918px;
$text-title-us-total-height: 770px;
$text-title-us-image: '../images/sprites/sprite_all.png';
$text-title-us: (568px, 595px, -568px, -595px, 175px, 31px, 918px, 770px, '../images/sprites/sprite_all.png', 'text_title_us', );
$spritesheet-width: 918px;
$spritesheet-height: 770px;
$spritesheet-image: '../images/sprites/sprite_all.png';
$spritesheet-sprites: ($text-gnb, $text-gnb-menu-01, $text-gnb-menu-02, $text-gnb-menu-03, $text-gnb-menu-04, $text-gnb-sub-01, $text-gnb-sub-02, $text-gnb-sub-03, $text-gnb-sub-04, $icon-file, $icon-first-page, $icon-last-page, $icon-main-more, $icon-next-page, $icon-prev-page, $icon-search, $icon-select-arrow, $text-comp01, $text-main-box01, $text-main-box02-01, $text-main-box02-02, $text-main-box02-03, $text-main-box03, $text-main-box04, $text-main-box05-01, $text-main-box05-02, $text-main-box05-03, $text-main-box05-04, $text-main-box05-05, $text-main-box05-06, $text-main-box05-07, $text-main-box05-08, $text-main-box05-09, $text-main-box05-10, $text-main-box06, $text-main-box07, $text-main-box08, $text-stru-con01, $text-stru-con02, $text-stru-con03, $text-stru-con04, $text-stru-con05, $text-stru-con06, $text-stru-con07, $text-stru-allen, $text-stru-cjs, $text-stru-harim, $text-stru-hol, $text-stru-pam, $text-stru-pan, $text-stru-sun, $text-sub-title-holdings, $text-sub-title-info01, $text-sub-title-info02, $text-sub-title-info03, $text-sub-title-sum, $text-sub-title-video, $text-sub-ceo, $text-sub-com, $text-title-allen, $text-title-ceo, $text-title-cjs, $text-title-com, $text-title-comp, $text-title-harim, $text-title-history, $text-title-hol, $text-title-info, $text-title-ir, $text-title-manage, $text-title-news, $text-title-pam, $text-title-pan, $text-title-structure, $text-title-sun, $text-title-us, );
$spritesheet: (918px, 770px, '../images/sprites/sprite_all.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
